
<div class="d-flex flex-column" id="map-wrapper">

  <div data-controller="map" class="container-fluid" id="map">
      <div data-map-target="google" class="container-fluid" id="google-map" data-tour-id-value="<%= @tour_id%>">
      </div>
  </div>
  <%= link_to tour_path(current_user.todays_tour), class: 'btn btn-primary btn-map' do %>
    <i class="fa-solid fa-arrow-left me-3"></i>
    retourner sur ma tournée
  <% end %>
</div>
