.show-consultations-profile img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  object-fit: cover;
}

.label-checkbox {
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.validated-checklist{
  background-color: #BBE1FA;
  border: none;
}

.not-validated-checklist {
  border: none;
}

.button-consultation form {
  width: 100%;
}

.button-consultation button {
  width: 100%;
}
