.show-profile img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  object-fit: cover;
}

.label-checkbox {
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.validated-checklist{
  background-color: #BBE1FA;
}

.no-border {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.button-consultation form {
  width: 100%;
}

.button-consultation button {
  width: 100%;
}
